# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# exclude
/.idea
/__pycache__
cache/
*.graphml

BitirmeRaporu.tex
static/complete_algorithm_flow.md
static/detailed_algorithm_flow.md
static/elevation_flow.md
